    <div class="container container-cargar">
        <form action="/upload" method="post" enctype="multipart/form-data" class="mt-5">
            <div class="mb-3">
                <label for="file" class="form-label">Cargar Archivos</label>
                <input type="file" class="form-control" name="file" accept=".xlsx" id="file">
            </div>
            <button id="upload-btn" type="submit" class="btn btn-primary">Cargar <i class="fa-solid fa-file-arrow-up"></i></button>
        </form>
    </div>
